<!DOCTYPE HTML>
<html lang="en-US">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<meta name="description" content="themeix description"/>
<meta name="themeix" content="ghost template"/>
<title>Ghost Sumo</title>
<!--Call Favicon Icon-->
<link rel="shortcut icon" href="{{site.baseurl}}/assets/image/favicon.png" type="images/x-icon">
<link rel="icon" href="{{site.baseurl}}/assets/image/favicon.png" type="images/x-icon">
<!-- All Css File Add -->
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/bootstrap.min.css"/>
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/font-awesome.min.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/animate.min.css"/>
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/owl.carousel.min.css"/>
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css"/>
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/responsive.css"/>
<!-- Lato Google Font -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">
</head>

<body class="themeix-nicescrol">
<!-- preloader -->
<main class="main-section">
    <!-- Start Header -->
    <header class="themeix-header-area section-spacing2 bgcolor2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-nav">
                        <div class="navbar-brand float-left">
                            <a href="{{site.url}}"><img src="/assets/image/brand-logo.png" alt="header brand" /></a>
                        </div>
                        <nav class="nav-menu float-right">
						   <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
                            <ul class="nav">
                                <li class="nav-item"><a class="nav-link active" href="#">home</a></li>
                                <li class="nav-item">
								  <a class="nav-link" href="#">theme</a>
								   <ul class="nav-submenu">
								   	 <li class="nav-item"><a class="nav-link" href="#">sub menu</a></li>
								   	 <li class="nav-item"><a class="nav-link" href="#">sub menu</a></li>
								   	 <li class="nav-item"><a class="nav-link" href="#">sub menu</a></li>
								   	 <li class="nav-item"><a class="nav-link" href="#">sub menu</a></li>
								   </ul>
								</li>
                                <li class="nav-item"><a class="nav-link" href="#">about</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">pricing</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">support</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">blog</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">contact</a></li>
                                <li class="nav-item"><a class="btn  button-style3 button-color1" href="#" data-text="sign up"><span>sign up</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End Header -->