<div class="row">
    <div class="col-md-12">
        <div class="join-box text-center">
            <div class="join-box-wrap">
                <div class="join-box-title">
                    <h2>Like Our Themes ? Join Now </h2></div>
                <p>Sign up and get access to all of our WordPress themes, templates and PSDs for the price of one! We offer a 14 Day <a href="#">Money Back Guarantee!</a></p>
                <div class="joining-box-btn"><a href="#" class="btn button-style1 button-color3" data-text="join us today"><span>join us today</span></a></div>
                <p>All major credit cards are accepted and PayPal too! Payment is processed through 2Checkout, a 100% secured website (see below).</p>
                <div class="join-box-paddle"><img src="/assets/image/paddle.png" alt="paddle service" /></div>
            </div>
        </div>
    </div>
</div>