<!-- Pricing Start  -->
<div class="themeix-pricing-area section-spacing bgcolor1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2> Choose Your  pricing plan</h2>
                    <p>Get access to all our Ghost themes for the price of one. A new theme each month. ortor, diam donec a eget, elit id tellus eu eget <a href="#">total 589+ theme</a> </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="pricing-box wow zoomIn" data-wow-delay="0.2s">
                    <div class="pricing-rate">
                        <h2 class="display-4"><img src="/assets/image/diamond.png" alt="" /><span><sup>$</sup>59</span></h2>
                        <h4>STANDARD PACK</h4>
                    </div>
                    <div class="pricing-list">
                        <ul class="list-inline">
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-year.png" alt="" />Access to technical support</p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-close.png" alt="" />Prioritised Support</p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-year.png" alt="" />Theme Settings Panel
                                    <p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-year.png" alt="" />Future Updates</p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-close.png" alt="" />Advanced Support</p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-year.png" alt="" />Prioritised Support</p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-year.png" alt="" />Editable CSS files</p>
                            </li>
                        </ul>
                    </div>
                    <div class="pricing-button text-center">
                        <a href="#" class="btn button-style2 button-color3" data-text="buy now"><span>buy now</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="pricing-box wow zoomIn" data-wow-delay="0.4s">
                    <div class="pricing-rate">
                        <h2 class="display-4"><img src="/assets/image/favorites.png" alt="" /><sup>$</sup>59</h2>
                        <h4>PREMIUM PACK</h4>
                    </div>
                    <div class="pricing-list">
                        <ul class="list-inline">
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-year.png" alt="" />Access to technical support</p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-close.png" alt="" />Prioritised Support</p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-year.png" alt="" />Theme Settings Panel
                                    <p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-year.png" alt="" />Future Updates</p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-close.png" alt="" />Advanced Support</p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-year.png" alt="" />Prioritised Support</p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-year.png" alt="" />Editable CSS files</p>
                            </li>
                        </ul>
                    </div>
                    <div class="pricing-button text-center">
                        <a href="#" class="btn button-style2 button-color2" data-text="buy now"><span>buy now</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="pricing-box wow zoomIn" data-wow-delay="0.2s">
                    <div class="pricing-rate">
                        <h2 class="display-4"><img src="/assets/image/idea.png" alt="" /><sup>$</sup>59</h2>
                        <h4>ALL THEMES PACKAGE</h4>
                    </div>
                    <div class="pricing-list">
                        <ul class="list-inline">
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-year.png" alt="" />Access to technical support</p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-close.png" alt="" />Prioritised Support</p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-year.png" alt="" />Theme Settings Panel
                                    <p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-year.png" alt="" />Future Updates</p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-close.png" alt="" />Advanced Support</p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-year.png" alt="" />Prioritised Support</p>
                            </li>
                            <li>
                                <p><img src="/assets/image/pricing-list-icon-year.png" alt="" />Editable CSS files</p>
                            </li>
                        </ul>
                    </div>
                    <div class="pricing-button text-center">
                        <a href="#" class="btn button-style2 button-color1" data-text="buy now"><span>buy now</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="join-box text-center">
                    <div class="join-box-wrap">
                        <div class="join-box-title">
                            <h2>Like Our Themes ? Join Now </h2></div>
                        <p>Sign up and get access to all of our WordPress themes, templates and PSDs for the price of one! We offer a 14 Day <a href="#">Money Back Guarantee!</a></p>
                        <div class="joining-box-btn"><a href="#" class="btn button-style1 button-color3" data-text="join us today"><span>join us today</span></a></div>
                        <p>All major credit cards are accepted and PayPal too! Payment is processed through 2Checkout, a 100% secured website (see below).</p>
                        <div class="join-box-paddle"><img src="/assets/image/paddle.png" alt="paddle service" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pricing End  -->